<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="IWantICan.Droid.IWantICan.Droid" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="23" />
	<application android:label="I Want I Can" android:theme="@style/Theme.AppCompat.Light" android:icon="@drawable/logo"></application>
	<supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
</manifest>